{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/db_result_style.css">

<link rel="stylesheet" href="/static/awesomplete.css" />
<script src="/static/awesomplete.js" async></script>

<body>
    <h1>Database search</h1>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}

    {% include 'search_form.html' %}
    <button onclick="$('#start_form')[0].reset();">CLEAR</button>
    <hr>
    <h2>Search results</h2>

    <div id="result"></div>
    <script>
        var aws_dict = {}
        $(document).ready(function () {
            $(".form-input").focusout(function () {
                if (input.id in aws_dict) {
		    alert('closed');
                    aws_dict[input.id].close()
                }
            })
            $(".form-input").keyup(function () {
                var input = this;
                $.ajax({
                    type: 'POST',
                    url: '/db_suggest',
                    data: {
                        "key": input.id,
                        "value": input.value
                    },
                    success: function (suggestion_json) {
                        console.log(suggestion_json);
                        var suggestion_list = suggestion_json.suggestion_list;
			update_sugg(input, suggestion_list);
                    },
                    error: function () {
                        alert('Unexpected error');
                    }
                });
            });
		function update_sugg(input, suggestion_list){
                        if (input.id in aws_dict) {
			    console.log('EXIST', input.id)
			    alert('aws exist');
                            aws = aws_dict[input.id]
                        } else {
			    alert('aws made');
                            aws_dict[input.id] = new Awesomplete(input, {
                                list: suggestion_list,
                                minChars: 1,
                            });
                            aws = aws_dict[input.id]
                        }
                        aws.list = ['dd1dasd','ddd2'];
			console.log(aws, aws.list);
	        };
            $("#start_form").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                console.log($('#start_form').serialize());
                var form = $(this);

                start_search(form)
            });
        });

        function start_search(form) {
            console.log(form.serialize())
            $.ajax({
                type: 'POST',
                url: '/db_start_search',
                data: form.serialize(),
                success: function (html_response) {
                    $("#result").html(html_response);
                },
                error: function () {
                    alert('Unexpected error');
                }
            });
        }

        // function update_suggestions(data) {
        //     Object.entries(data).forEach(([key, value]) => {
        //         var input = document.getElementById(key);
        // if (Array.isArray(value) && value.length){
        // 	console.log(value)
        //         	aws = new Awesomplete(input, {list: value, maxItems: 3, tabSelect: true, filter:function(text, input){return true;}});
        // }
        //         }
        //     )
        // };

        // $(document).ready(function() {
        //     $('#start_form')[0].reset();
        //     $(".form-input").keyup(function() {
        //         form = $("#start_form")
        //         $.ajax({
        //             type: 'POST',
        //             url: '/db_suggest',
        //             data: form.serialize(),
        //             success: function(data) {
        //                 console.log(form.serialize(), data);
        //                 update_suggestions(data);
        //             },
        //             error: function() {
        //                 alert('Unexpected error');
        //             }
        //         });
        //     });
        // });
    </script>
</body>
{% endblock %}
