{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/db_result_style.css">
<script src="/static/db_result_script.js"></script>

<link rel="stylesheet" href="/static/awesomplete.css" />
<script src="/static/awesomplete.js" async></script>

<style>
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
</head>

<body>
    <h1>Database search</h1>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}

    <form id="start_form" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br> {{ form.date(class_="form-input") }} {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
            <div class="row">
                <div class="column">
                    {{ form.qs.label }}<br> {{ form.qs(class_="form-input") }}<br> {{ form.pub.label }}<br>
                    {{ form.pub(class_="form-input") }}<br> {{ form.authors.label }}<br>
                    {{ form.authors(class_="form-input") }}<br> {{ form.affiliation.label
                    }}
                    <br> {{ form.affiliation(class_="form-input") }}<br> {{ form.volume.label }}
                    <br> {{ form.volume(class_="form-input") }}<br> {{ form.issue.label }}<br>
                    {{ form.issue(class_="form-input") }}
                </div>
                <div class="column">
                    {{ form.page.label }}<br> {{ form.page(class_="form-input") }}<br> {{ form.tak.label }}<br>
                    {{ form.tak(class_="form-input") }}<br> {{ form.title.label }}<br>
                    {{ form.title(class_="form-input") }}<br> {{ form.refrences.label
                    }}
                    <br> {{ form.refrences(class_="form-input") }}<br> {{ form.docId.label }}<br>
                    {{ form.docId(class_="form-input") }}
                </div>
            </div>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <button onclick="$('#start_form')[0].reset();">CLEAR</button>
    <hr>
    <h2>Search results</h2>

    <div id="result"></div>
    <script>
        var aws_dict = {}
        $(document).ready(function () {
            $(".form-input").focusout(function () {
                if (this.id in aws_dict) {
                    aws_dict[this.id].destroy()
                }
            })
            $(".form-input").keyup(function () {
                var input = this;
                $.ajax({
                    type: 'POST',
                    url: '/db_suggest',
                    data: {
                        "key": input.id,
                        "value": input.value
                    },
                    success: function (suggestion_json) {
                        console.log(suggestion_json);
                        var suggestion_list = suggestion_json.suggestion_list
                        if (this.id in aws_dict) {
                            aws = aws_dict[this.id]
                        } else {
                            aws_dict[this.id] = new Awesomplete(input, {
                                list: suggestion_list,
                                minChars: 1,
                            });
                            aws = aws_dict[this.id]
                        }
                        aws.list = suggestion_list
                    },
                    error: function () {
                        alert('Unexpected error');
                    }
                });
            });

            $("#start_form").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                console.log($('#start_form').serialize());
                var form = $(this);

                start_search(form)
            });
        });

        function start_search(form) {
            console.log(form.serialize())
            $.ajax({
                type: 'POST',
                url: '/db_start_search',
                data: form.serialize(),
                success: function (html_response) {
                    $("#result").html(html_response);
                },
                error: function () {
                    alert('Unexpected error');
                }
            });
        }

        // function update_suggestions(data) {
        //     Object.entries(data).forEach(([key, value]) => {
        //         var input = document.getElementById(key);
        // if (Array.isArray(value) && value.length){
        // 	console.log(value)
        //         	aws = new Awesomplete(input, {list: value, maxItems: 3, tabSelect: true, filter:function(text, input){return true;}});
        // }
        //         }
        //     )
        // };

        // $(document).ready(function() {
        //     $('#start_form')[0].reset();
        //     $(".form-input").keyup(function() {
        //         form = $("#start_form")
        //         $.ajax({
        //             type: 'POST',
        //             url: '/db_suggest',
        //             data: form.serialize(),
        //             success: function(data) {
        //                 console.log(form.serialize(), data);
        //                 update_suggestions(data);
        //             },
        //             error: function() {
        //                 alert('Unexpected error');
        //             }
        //         });
        //     });
        // });
    </script>
</body>
{% endblock %}
