{% extends "base.html" %}{% block content %}

<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
</head>

<body>
    <h1>Siencedirect search</h1>
    <h2>Search fields</h2>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}

    <form id="start_form" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br> {{ form.date }} {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
            <div class="row">
                <div class="column">
                    {{ form.term.label }}<br> {{ form.term }}<br> {{ form.pub_title.label }}<br> {{ form.pub_title }}<br> {{ form.authors.label }}<br> {{ form.authors }}<br> {{ form.affiliation.label }}<br> {{ form.affiliation }}<br> {{ form.volume.label
                    }}
                    <br> {{ form.volume }}<br> {{ form.issue.label }}<br> {{ form.issue }}
                </div>
                <div class="column">
                    {{ form.page.label }}<br> {{ form.page }}<br> {{ form.keywords.label }}<br> {{ form.keywords }}<br> {{ form.title.label }}<br> {{ form.title }}<br> {{ form.refrence.label }}<br> {{ form.refrence }}<br> {{ form.issn.label }}<br> {{
                    form.issn }}
                </div>
            </div>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <input type="button" value="Start scopus" id='start_scopus_btn' onclick="start_scopus()">
    <hr>
    <h2>Search process statue</h2>

    <div id="scopus_search_progress"></div>
    <div id="progress"></div>
    <script>
        function start_long_task(form) {
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);
            document.getElementById('progress').scrollIntoView();
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            // send ajax POST request to start background job
            console.log(form.serialize())
            $.ajax({
                type: 'POST',
                url: '/longtask',
                data: form.serialize(),
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }

        function start_scopus() {
            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/scopus_search',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_scopus_progress(status_url);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }

        function update_scopus_progress(status_url) {
            // send GET request to status URL

            $.getJSON(status_url, function(data) {
                $('#scopus_search_progress').text(data['status']);
                setTimeout(function() {
                    update_scopus_progress(status_url);
                }, 2000);
            });
        }

        $("#start_form").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            console.log($('#start_form').serialize());
            var form = $(this);

            start_long_task(form)
        });
        // $(function() {
        //     $('#submit').click(search_start);
        // });
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            console.log('UPDATE')
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                console.log('GO')
                $(status_div.childNodes[1]).text(percent + '%' + '( ' + data['current'] + '/' + data['total'] + ' )');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                    } else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                } else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
    </script>
</body>
{% endblock %}