{% block content %}

<style>
    .progress {
        width: 100%;
        text-align: center;
    }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
<h1>Siencedirect search</h1>
<h2>Search fields</h2>
{% for message in get_flashed_messages() %}
<p style="color: red;">{{ message }}</p>
{% endfor %}

<form id="start_form" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_year.label }}<br>
            {{ form.start_year }}
            {% for error in form.start_year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.term.label }}<br>
            {{ form.term }}
            {{ form.pub_title.label }}<br>
            {{ form.pub_title }}
            {{ form.authors.label }}<br>
            {{ form.authors }}
            {{ form.affiliation.label }}<br>
            {{ form.affiliation }}
            {{ form.volume.label }}<br>
            {{ form.volume }}
            {{ form.issue.label }}<br>
            {{ form.issue }}
            {{ form.page.label }}<br>
            {{ form.page }}
            {{ form.keywords.label }}<br>
            {{ form.keywords }}
            {{ form.title.label }}<br>
            {{ form.title }}
            {{ form.refrence.label }}<br>
            {{ form.refrence }}
            {{ form.issn.label }}<br>
            {{ form.issn }}
        </p>
        <p>{{ form.submit() }}</p>
</form>
<hr>
<h2>Search process statue</h2>
<div id="progress"></div>
<script>
    
    function start_long_task(form) {
        // add task status elements
        div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
        $('#progress').append(div);

        // create a progress bar
        var nanobar = new Nanobar({
            bg: '#44f',
            target: div[0].childNodes[0]
        });

        // send ajax POST request to start background job
        console.log(form.serialize())
        $.ajax({
            type: 'POST',
            url: '/longtask',
            data: form.serialize(),
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url, nanobar, div[0]);
            },
            error: function() {
                alert('Unexpected error');
            }
        });
    }

    $("#start_form").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        console.log($('#start_form').serialize());
        var form = $(this);

        start_long_task(form)
        });
    // $(function() {
    //     $('#submit').click(search_start);
    // });
    function update_progress(status_url, nanobar, status_div) {
        // send GET request to status URL
        
        $.getJSON(status_url, function(data) {
            // update UI
            percent = parseInt(data['current'] * 100 / data['total']);
            nanobar.go(percent);
            $(status_div.childNodes[1]).text(percent + '%');
            $(status_div.childNodes[2]).text(data['status']);
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {
                    // show result
                    $(status_div.childNodes[3]).text('Result: ' + data['result']);
                }
                else {
                    // something unexpected happened
                    $(status_div.childNodes[3]).text('Result: ' + data['state']);
                }
            }
            else {
                // rerun in 2 seconds
                setTimeout(function() {
                    update_progress(status_url, nanobar, status_div);
                }, 2000);
            }
        });
    }
</script>
</body>
{% endblock %}