{% extends "base.html" %}

{% block content %}
    <h1>Start</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_year.label }}<br>
            {{ form.start_year }}
            {% for error in form.start_year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.term.label }}<br>
            {{ form.term }}
            {{ form.pub_title.label }}<br>
            {{ form.pub_title }}
            {{ form.authors.label }}<br>
            {{ form.authors }}
            {{ form.affiliation.label }}<br>
            {{ form.affiliation }}
            {{ form.volume.label }}<br>
            {{ form.volume }}
            {{ form.issue.label }}<br>
            {{ form.issue }}
            {{ form.page.label }}<br>
            {{ form.page }}
            {{ form.keywords.label }}<br>
            {{ form.keywords }}
            {{ form.title.label }}<br>
            {{ form.title }}
            {{ form.refrence.label }}<br>
            {{ form.refrence }}
            {{ form.issn.label }}<br>
            {{ form.issn }}
            terms => qs
            in jornal or book title => pub
            year => date
            authors => / 
            affiliations => /
            volume => / 
            issue => /
            page => /
            Title, abstract or author-specified keywords =>tak
            title => /
            refrences => / 
            ISSN or ISBN => docId
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}